/* Show action buttons (enable/disable, options etc.) on about:addons, instead of hiding them behind a meatball menu */

@-moz-document url("chrome://mozapps/content/extensions/aboutaddons.html") {

    panel-list {
        border: none !important;
        box-shadow: none !important;
        display: inline !important;
        min-width: unset !important;
        padding: 0 !important;
        right: 0px !important;
    }

    panel-item {
        display: inline-block !important;
        margin-inline-start: 2px !important;
    }

    .more-options-menu {
        margin: unset !important;
    }

    /* link + is needed to avoid styling check for updates buttons and tabs on add-on detail pages because shadowdom */
    link + button {
        background-color: var(--in-content-button-background) !important;
        background-position: center !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        height: 32px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    link + button:hover {
        background-color: var(--in-content-button-background-hover) !important;
    }
    link + button:hover:active {
        background-color: var(--in-content-button-background-active) !important;
    }
    link + button:focus {
        box-shadow: 0 0 0 1px var(--in-content-border-active) inset, 0 0 0 1px var(--in-content-border-active), 0 0 0 4px var(--in-content-border-active-shadow) !important;
    }

    /* dot badging on update button */
    link + button::after {
        left: 22px !important;
        top: 4px !important;
    }

    /* use icons, remove text */
    panel-item[action="remove"],
    panel-item[action="install-update"],
    panel-item[action="always-activate"] {
        font-size: 0px !important;
        position: relative !important;
        top: -6px !important;
        fill: var(--in-content-page-color) !important;
        width: 32px !important;
    }

    .more-options-button.ghost-button,
    .arrow.top,
    .arrow.bottom,
    panel-item-separator,
    panel-item[action="report"],
    panel-item[action="expand"],
    panel-item[hidden],
    .addon-description {
        display: none !important;
    }

    .card-contents {
        align-self: center !important;
    }
}
